@import '~box-ui-elements/es/styles/variables';
@import './popup-arrow';

.ba {
    $popup-arrow-height: 3px;
    $popup-arrow-width: 4px;
    $popup-content-bg: $bdl-gray;
    $popup-icon-margin: 8px;

    .ba-PopupHighlight {
        // Top-facing arrows
        &[data-popper-placement*='bottom'] {
            .ba-Popup-arrow {
                top: -$popup-arrow-height;
            }
        }

        .ba-Popup-arrow {
            @include ba-Popup-arrow($popup-arrow-height, $popup-arrow-width, $popup-content-bg, $popup-content-bg);

            &::after {
                display: none;
            }
        }

        .ba-Popup-content {
            background-color: $popup-content-bg;
            border: none;
            border-radius: $bdl-border-radius-size;
            box-shadow: none;
        }
    }

    .ba-PopupHighlight-button {
        @include common-typography;

        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 5px 10px;
        color: $white;
        background: transparent;
        border: none;
        border-radius: $bdl-border-radius-size;
        cursor: pointer;
    }

    .ba-PopupHighlight-icon {
        margin-right: $popup-icon-margin;

        path {
            fill: $white;
        }
    }
}
